@font-face {
    font-family: 'Arcade';
    src: url('../font/arcade.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Minecraft';
    src: url('../font/minecraft.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Sorty';
    src: url('../font/sortarcade.otf') format('truetype');
  }

  body {
    background: linear-gradient(45deg, #003366, #006633);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    margin: 0;
    padding: 0;
  }

  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .contenedor {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .contenido {
    flex-grow: 1;
  }

  .barra {
    background-image: url('../images/background_bar.png');
    background-repeat: repeat;
    background-size: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    height: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.514)
  }

  .logo {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('../images/icon.png');
    background-size: cover;
    border-radius: 50%;
    margin-right: 10px;
  }

  .texto {
    display: inline-block;
    color: white;
    font-family: 'Arcade', sans-serif;
    font-size: 16px;
  }

  .boton-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  .boton {
    display: inline-block;
    color: white;
    background-color: rgb(81, 166, 187);
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-family: 'Arcade', sans-serif;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  }
  
  .boton:hover {
    background-color: #66faff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }
  
  .boton:focus {
    transform: translateY(-2px);
  }
  

  .imagenes-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .imagen {
    display: inline-block;
    max-width: 30px;
    max-height: 30px;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
    transition: transform 0.3s ease; /* Agregar transición suave */
    border-radius: 50%;
  }
  
  /* Estilo al pasar el mouse */
  .imagen:hover {
    transform: translateY(-5px); /* Mueve el elemento hacia arriba */
    box-shadow: 0 0 5px rgba(238, 238, 238, 0.616);
  }
  
  /* Estilo al sacar el mouse */
  .imagen:not(:hover) {
    transform: translateY(0); /* Restablece la posición original del elemento */
    box-shadow: none; /* Elimina la sombra */
  }

  .contenido-readme {
    padding: 20px;
    color: white;
    font-family: 'Arcade', sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  .cuadrado {
    position: absolute;
    top: 46%;
    left: 47%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 85%;
    margin-left: -10%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.514);
  }

  .notif {
    position: absolute;
    top: 46%;
    left: 96%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 85%;
    max-height: 82%;
    margin-left: -10%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.514);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
  }
  

  .notif-boton {
    background-color: transparent;
    border: none;
    color: white;
    padding: 8px 16px;
    font-family: 'Arcade', sans-serif;
    font-size: 16px;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
  }
  .notif-boton.active {
    /* Agregar brillo al texto */
    color: #ffffff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
                 0 0 10px rgba(255, 255, 255, 0.6),
                 0 0 15px rgba(255, 255, 255, 0.4),
                 0 0 20px rgba(255, 255, 255, 0.2);
  
    /* Agregar efecto de glow */
    animation: glow 1s ease-in-out infinite;
  }
  
  /* Definir la animación 'glow' */
  @keyframes glow {
    0%, 100% {
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
                   0 0 10px rgba(255, 255, 255, 0.6),
                   0 0 15px rgba(255, 255, 255, 0.4),
                   0 0 20px rgba(255, 255, 255, 0.2);
    }
    50% {
      text-shadow: none;
    }
  }
  

  .notif-boton::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: aqua;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
  }

  .notif-boton:hover,
  .notif-boton:focus {
    transform: translateY(-2px);
  }

  .notif-boton:hover::after,
  .notif-boton:focus::after {
    transform: scaleX(1);
  }
  .banner {
    text-align: center;
    max-width: 80%;
    max-height: 100px;
    min-height: 100px;
    display: block;
    margin: 10px auto;
  }
  .textodescriptivo {
    color: white;
    font-family: Arcade, sans-serif;
    padding: 10px;
  }
  .titulo2 {
    text-align: center;
    color: white;
    font-family: minecraft, sans-serif;
  }
  .titulo {
    color: white;
    font-family: minecraft, sans-serif;
  }
  .profile {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin-top: 10px;
  }
